
<div class="content2">
    <!--<h1>Добро пожаловать</h1>-->

    <h1>Интерьерные панели ELEROS</h1>
    <div id="myCarousel" class="carousel slide pp25" data-ride="carousel">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/images/slider/amain/first/3DP01.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP02.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP03.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP04.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP05.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP06.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP07.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP08.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP09.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP10.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP11.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP12.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP13.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP14.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP15.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP16.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP17.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP18.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP19.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP20.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP21.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP22.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP23.jpg">
            </div>
            <div class="item">
                <img src="/images/slider/amain/first/3DP24.jpg">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <p>Представляем Вам высококачественные глянцевые панели изготовленные по технологии «HOT COATING».
        Для их производства используются МДФ плиты, данный материал имеет уникальнейшие характеристики,
        именно поэтому он является инновационным. Стоит отметить, что высокоглянцевые панели применяются
        и в изготовлении различного рода напольных покрытий, всевозможных дверей и даже мебели.
        Чтобы панели не рассыхались и были устойчивы к механияеским воздействиям, их прессуют на итальянском
        оборудовании "ОРМА". Панели согут быть с различными рельефными формами матового или глянцевого исполнения.
    </p>
    <div class="row">

        <div class="col-md-6">
            <h3>Технические характеристики:</h3>
            <ul>
                <li>2 800 x 820 мм; </li>
                <li>толщина: 6 мм;</li>
                <li>материал: МДФ;</li>
                <li>художественный рисунок;</li>
                <li>поверхность: высокий глянец.</li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3>Преимущества:</h3>
            <ul>
                <li>широкое применение;</li>
                <li>малые размеры, небольшой вес;</li>
                <li>простота монтажа, легкость обработки;</li>
                <li>привлекательная стоимость;</li>
                <li>безвредны для окружающей среды.</li>
            </ul>
        </div>
    </div>
    <h1>Скинали и кухонные фартуки</h1>
        <div id="Carouselt" class="carousel slide pp25" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#Carouselt" data-slide-to="0" class="active"></li>
                <li data-target="#Carouselt" data-slide-to="1"></li>
                <li data-target="#Carouselt" data-slide-to="2"></li>
                <li data-target="#Carouselt" data-slide-to="3"></li>
                <li data-target="#Carouselt" data-slide-to="4"></li>
                <li data-target="#Carouselt" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/images/slider/amain/second/f-t-1s.png" >
                </div>
                <div class="item ">
                    <img src="/images/slider/amain/second/f-t-2s.png" >
                </div>
                <div class="item ">
                    <img src="/images/slider/amain/second/f-t-3s.png" >
                </div>
                <div class="item ">
                    <img src="/images/slider/amain/second/f-t-4s.png" >
                </div>
                <div class="item ">
                    <img src="/images/slider/amain/second/f-t-5s.png" >
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#Carouselt" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#Carouselt" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="col-md-12">

            <p>Пространство над рабочей поверхностью на кухне можно отделать не только стеклом или плиткой.
                Скинали из мдф прекрасно подойдут в качестве отделечного материала. Они изготавливаются на
                новейшем немецком оборудовании с применением специальных технологий, благодаря чему они износостойки,
                температуростойки и имеют очень разнообразные цветовые решения. Кухонный фартук из мдф легко
                и удобно смонтировать даже на стене с не ровной поверхностью. Помимо этого панели «AlbiCo» отличают
                непревзойденные декоративные характеристики – глубина и разнообразие цветовых оттенков, а
                также визуально напоминающий стекло насыщенный блеск глянцевого покрытия.
                В нашем каталоге мойжно найти кухонный фартук на любой вкус.</p>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-sx-12">
                    <h3>Технические характеристики:</h3>
                    <ul>
                        <li>2 800 x 610 мм; </li>
                        <li>толщина: 6 мм;</li>
                        <li>материал: МДФ;</li>
                        <li>художественный рисунок;</li>
                        <li>поверхность: высокий глянец.</li>
                    </ul>

                    <h3> Комплектация:</h3>
                    <ul>
                        <li> глянцевая панель;</li>
                        <li>современная упаковка.</li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-12 col-sx-12">
                    <h3>Преимущества:</h3>
                    <ul>
                        <li>экологичность (класс эмиссии формальдегидов Е1);</li>
                        <li>устойчивый глянец;</li>
                        <li>устойчивость к температурам;</li>
                        <li>недорогой аналог кухонным панелям из стекла;</li>
                        <li>высокая устойчивость к царапинам и истиранию;</li>
                        <li>устойчивость к воздействию химических и чистящих веществ;</li>
                        <li>высокая устойчивость к загрязнению;</li>
                        <li>высокая устойчивость к действию солнечных лучей.</li>
                    </ul>
                </div>
            </div>


            <h1>Столы и стулья</h1>
            <div id="Carouseltss" class="carousel slide pp25" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#Carouseltss" data-slide-to="0" class="active"></li>
                    <li data-target="#Carouseltss" data-slide-to="1"></li>
                    <li data-target="#Carouseltss" data-slide-to="2"></li>
                    <li data-target="#Carouseltss" data-slide-to="3"></li>
                    <li data-target="#Carouseltss" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/images/slider/amain/trd/AS31.jpg">
                    </div>
                    <div class="item ">
                        <img src="/images/slider/amain/trd/AS34.jpg">
                    </div>
                    <div class="item ">
                        <img src="/images/slider/amain/trd/AS35.jpg">
                    </div>
                    <div class="item ">
                        <img src="/images/slider/amain/trd/AS37.jpg">
                    </div>
                    <div class="item ">
                        <img src="/images/slider/amain/trd/AS40.jpg">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#Carouseltss" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#Carouseltss" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <p>Несомненно изюминкой на вашей кухне станет кухонная мебель
                выполненная в одной цветовой гамме. Мы предлагаем стулья и столы со
                столешницей из мдф самых ярких и сочных цветов. Они помогут создать настроение и
                не перегрузят даже очень маленькую кухню. Многие выбирают столы Asstudio из матового
                мдф с фотопечатью: на них не так видны отпечатки пальцев. А также эта мебель
                не боится ультрафиолета и не царапается, за ней легко ухаживать: просто
                протрите мыльной губкой и вытрите насухо мягкой тканью.</p>

            <div class="">

                <div class="col-md-6">
                    <h3>Возможные размеры стола: </h3>
                    <ul>
                        <li> стол МДФ 90/60/22 мм (кромка пвх);</li>
                        <li>стол МДФ 1200/680/22 мм (кромка пвх);</li>
                        <li>стол МДФ 1200/680/22 мм (фрейзерованная крашеная кромка);</li>
                        <li>стол-тумба: 1200/700/22 мм (кромка пвх).</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <h3>Возможные размеры табурета: </h3>
                    <ul>
                        <li>табурет: 300/300/16 мм (кромка пвх).</li>
                    </ul>
                </div>
</div>